footer {
    background: #ddd;
    color: #666;
    display: grid;
    justify-items: center;
    align-items: center;
    font-family: monospace;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

@media (max-width: 1400px) {
    main {
        width: 800px;
    }
}

@media (max-width: 1000px) {
    main {
        width: 600px;
    }
}

@media (max-width: 600px) {
    main {
        width: 400px;
    }
}

@media (max-width: 450px) {
    main {
        width: 350px;
    }
}
