/* You can add global styles to this file, and also import other style files */
body {
    background: aliceblue;
    padding: 0;
    margin: 0;
}

app-root {
    display: grid;
    grid-template-rows: 7em auto 5em;
    min-height: 100vh;
}

h1 {
    padding: 1rem;
}

html {
    margin: 0;
    background: lightblue;
}
