.users {
    display: grid;
    grid-gap: 0.5rem;
}


h4 {
    padding: 0;
    margin: 0;
}

.users h2 {
}

.username {
    font-size: 0.95rem;
    font-style: italic;
}

.company {
    font-size: 0.85rem;
    color: #666;
}

.contact {
    display: grid;
    grid-gap: 0.5em;
}

.user {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid #aaa;
}

.user-names {
    display: grid;
    margin: 0.5em;
}

.actions {
    display: grid;
    grid-template-columns: 6em 6em;
    grid-gap: 1em;
}

.head {
    display: grid;
    grid-template-columns: 6em 8em;
    align-items: center;
}

.actions a {
    justify-self: center;
}

@media (max-width: 1400px) {
    .website {
        display: none;
    }

    .user {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1000px) {
    .contact {
        display: none;
    }

    .user {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 450px) {
    .actions {
        grid-template-columns: 8em;
    }
}
