
<section class="users">
    <div class="head">
        <h2>Users</h2>
        <a routerLink="/users/new">Create New</a>
    </div>
    <header class="user">
        <div>User</div>
        <div class="contact">Contact</div>
        <div class="website">Website</div>
        <div>Actions</div>
    </header>
    <article *ngFor="let user of users" class="user">
        <div class="user-names">
            <h4>{{user.name}}</h4>
            <span class="username">@{{user.username}}</span>
            <span *ngIf="user.company" class="company">({{user.company?.name}})</span>
        </div>
        <div class="contact">
            <a *ngIf="user.email" [href]="'mailto:' + user.email">{{user.email}}</a>
            <div *ngIf="user.phone">
                tel. <a [href]="'tel:' + user.phone">{{user.phone}}</a>
            </div>
        </div>
        <div class="website">
            <a [href]="'http://' + user.website">{{user.website}}</a>
        </div>
        <div class="actions">
            <a [routerLink]="[user.id]">Edit</a>
            <button (click)="delete(user)">Delete</button>
        </div>
    </article>
</section>
