<form *ngIf="user" (ngSubmit)="submit()" class="user-form">
    <label>
        Name
        <input type="text" [(ngModel)]="user.name" name="name">
    </label>
    <label>
        Username
        <input type="text" [(ngModel)]="user.username" name="username">
    </label>
    <label>
        Email
        <input type="email" [(ngModel)]="user.email" name="email">
    </label>
    <label>
        Phone
        <input type="tel" [(ngModel)]="user.phone" name="phone">
    </label>
    <label>
        Website
        <input type="text" [(ngModel)]="user.website" name="website">
    </label>
    <button type="submit">Save</button>
    <span *ngIf="saved">Saved!</span>
</form>
